$corner-radius: 5px;
$corner-radius-lg: 7px;
$corner-radius-xl: 9px;

$white: #fff;
$white-gray: #f5f5f5;
$white-gray-light: #f3f3f4;
$black: #2e2e30;

$lightblue: #3498db;
$blue: #337ab7;
$darkblue: #34495e;

$blue-disabled: #7b8a97;
$blue-hover: #225f92;
$blue-hover-light: #d9ecfd;

$lightgray: #eee;
$gray: #ddd;
$darkgray: #dcdcdc;

$gray-disabled: #909090;

$yellow: #eadd6a;
$orange: #f87700;

$lightred: #f2dede;

$success: #5cb85c;
$success-light: #7ed27e;

$warning: #f0ad4e;
$warning-light: #f3bd71;

$error: #a94442;
$error-light: #ba6967;

$badge-danger: #dc3545;

$default-label: #a9a9a9;

$visibility-blue: #31708f;
$visibility-gray: #777777;
