.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}
