// ALL
.p-0 {
  padding: 0;
}

.p-6 {
  padding: 6px;
}

.p-12 {
  padding: 12px;
}

// LEFT
.p-left-0 {
  padding-left: 0;
}

.p-left-6 {
  padding-left: 6px;
}

.p-left-12 {
  padding-left: 12px;
}

// RIGHT
.p-right-0 {
  padding-right: 0;
}

.p-right-6 {
  padding-right: 6px;
}

.p-right-12 {
  padding-right: 12px;
}

// TOP
.p-top-0 {
  padding-top: 0;
}

.p-top-6 {
  padding-top: 6px;
}

.p-top-12 {
  padding-top: 12px;
}

// BOTTOM
.p-bottom-0 {
  padding-bottom: 0;
}

.p-bottom-6 {
  padding-bottom: 6px;
}

.p-bottom-12 {
  padding-bottom: 12px;
}
